* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.navbar {
    height: 80px;
    display: flex;
    position: sticky;
    padding: 20px 40px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.airBnb-logo {
    max-width: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.photo-grid {
    width: 70%;
    align-self: center;
}

.description {
    margin-top: 30px;
    margin-left: 30px;
    max-width: 80%;
}

.description>h1 {
    font-size: 3rem;
    margin-block: 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-thumbnail {
    display: inline-block;
    position: relative;
}

.card-status {
    width: auto;
    height: auto;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    font-weight: 500;
}

.card-img {
    border-radius: 10px;
    width: 250px;
}

.card-info {
    line-height: 0.5;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-rating {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.star {
    width: 20px;
}

.card-rating>small {
    margin-top: 3px;
    margin-left: 5px;
}

.card-rating>small>span {
    opacity: 0.5;
}

.card-container {
    margin-left: 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}